<% if object["example"] %>
<div class="tags">
  <h3>Example:</h3>
  <div>
    <pre class="code">
      <%= html_syntax_highlight "\n" + object[:example].first[:code] + "\n" + object[:example].first[:output] %>
    </pre>
  </div>
</div>
<% end %>
